@import ./partials/displays
@import ./partials/fonts
@import ./partials/colors
@import ./partials/animaitons
  
html,
body 
  padding: 0
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  +flex()

body
  width: 100vw
  overflow: hidden

#__next
  width: 100%

a 
  color: inherit
  text-decoration: none

* , ::before, ::after
  box-sizing: border-box
  +mainFont

svg
  text-align: center
  display: inline-block
  width: 100%

.rsm-geography
  &:hover
    cursor: pointer

.rsm-marker
  circle
    transition-duration: 0.5s
    &:hover
      cursor: pointer

.tooltip
  position: absolute !important

.transform
  transition-timing-function: ease-in-out
  transition-duration: 0.5s

.dropdown-toggle
  background-color: rgba(0, 0, 0, 0) !important
  width: 32px
  height: 32px
  +flex()
  opacity: 0

.dropdown
  +flex()
  width: 40px
  height: 40px
  &::after
    content: "" !important


